<%- include('layout/header') %>

<h2>Welcome to Car Parking Reservation System</h2>

<p>Car Parking Reservation System is a convenient platform for reserving parking spots at different public places such as malls, hospitals, airports, railway stations, and more.</p>

<p>Whether you are a user looking to reserve a parking spot or an admin managing the parking system, our system provides a seamless experience for all.</p>

<%- include('layout/footer') %>
