</main>
<footer>
    <!-- Adding footer content here -->
    <p>&copy; chiranjib 2023 Car Parking Reservation System. All rights reserved.</p>
</footer>
<script src="/js/script.js"></script>
</body>
</html>
